.imgBox {
  height:200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox img{
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 200px;
}

::selection {
  background-color: transparent;
  color: #000;
}

.likeBox {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

button {
  bottom: 220px;
  width: 180px;
  margin-bottom: 10px;
  margin-left: 10px;
  justify-self: flex-end;
}